@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-hover: #fcf4ff;
  --dark-hover: #2a004a;
  --park-theme: #11001F;

  --background: #ffffff;
  --foreground: #171717;
}

[data-theme="dark"],
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;

  --light-hover: #2a004a;
  --dark-hover: #fcf4ff;
  --park-theme: #ffffff; /* optional override */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}
